[package]
name = "tpw"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.2.1", features = ["derive"] }
crossterm = "0.26.1"
gif = "0.12.0"
image = "0.24.6"
opencv = "0.78.2"
